#header {
  align-items: center;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 4px 8px;
}

#claim {
  font-size: 17px;
  font-style: italic;
  margin-left: 8px;
}

#main {
  padding: 16px 16px 32px;
}

.input {
  max-width: 50%;

  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
}

.steps {
  & li {
    margin-top: 8px;
  }
}
